<div>
<ul class="view-type nav nav-pills nav-justified" >
		<li role="presentation" class="active"><a href="#services-tab" data-toggle="pill" role="tab">Overview</a></li>
		<li role="presentation"><a href="#endpoints-tab" data-toggle="pill" role="tab">Details</a></li>
		<li role="presentation"><a href="#networkpolicies-tab" data-toggle="pill" role="tab">Dashboard</a></li>
		<li role="presentation"><a href="#ingress-tab" data-toggle="pill" role="tab">Monitors</a></li>
	</ul>

<div class="row">
  <div class="col-sm-6">
    <h2>Overview</h2>
  </div>
  <div class="col-sm-6 text-right">
<div id="instance-actions" class="btn-group" style="margin-top: 15px;">
	<button type="button" style="background-color: #632CA6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Actions <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li>
			<a href="https://app.datadoghq.com/infrastructure?tags=host%3A{{name}}" target="_blank">Open Dashboard</a>
		</li>
		<li>
			<a href="/datadog/example">Example</a>
		</li>
		<li>
			<a href="/provisioning/instances/92/resize?appsId=" data-toggle="modal" data-target="#resize-instance-modal">Mute Host</a>
		</li>
		<li>
			<a href="/instances/workflowPrompt/92" data-remote="true" data-method="PUT" data-target="#workflow-instance-modal" class="instance-workflow-button" data-toggle="modal">Run Workflow</a>
		</li>
		<li>
			<a href="/instances/taskPrompt/92" data-remote="true" data-method="PUT" data-target="#task-instance-modal" class="instance-task-button" data-toggle="modal">Run Task</a>
		</li>
	</ul>
</div>
  </div>
</div>
<hr>
<div class="incident-stats">
	<div class="type-logo">
		<img src="{{asset "/datadog-logo.png"}}" alt="DataDog Logo" class="logo" onerror="loadImage(this);" onload="sizeImage(this)" style="max-height: 80px; max-width: 140px;">
	</div>
	<div class="stats-container big-stat-block">
		<span class="stat-content">{{name}}</span>
		<span class="stat-label">Name</span>
	</div>
	<div class="stats-container big-stat-block">
		{{#if status}}
		<div title="Healthy" class="status-icon icon-health status-icon-center  status-healthy  "></div>
		<div class="stat-label">
			<a href="/monitoring/groups/47">Status</a>
		</div>
		{{else}}
		<span class="stat-content">{{status}}</span>
		<span class="stat-label">Status</span>
		{{/if}}
	</div>
	<div class="stats-container big-stat-block">
		<span class="stat-content">{{muteStatus}}</span>
		<span class="stat-label">Mute Status</span>
	</div>
	<div class="stats-container big-stat-block">
		<span class="stat-content">{{checks}}</span>
		<span class="stat-label"># of Checks</span>
	</div>
	<div class="stats-container big-stat-block">
		<span class="stat-content">{{agentVersion}}</span>
		<span class="stat-label">Agent Version</span>
	</div>
</div>
<div class="header-meta-info">
	<p>Apps</p>
	<div class="item">
	{{#each apps}}
		<span class="badge badge-primary badge-pill">{{this}}</span>
	{{/each}}
	</div>
</div>
<h2>Agent Checks</h2>
<table>
	<thead>
	<th>Check</th>
	<th>Status</th>
	</thead>
	<tbody>
		{{#each agentChecks}}
			<tr>
				<td>{{this.0}}</td>
				<td>{{this.3}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

<style>
.big-stat-block {
  margin-top: 15px;
  margin-bottom: 40px;
}

.resource-detail .type-logo .logo {
	margin-top: 0px;
}
.instance .incident-stats .status-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}

.instance .incident-stats {
  margin-bottom: 22px;
}
</style>

<script src="{{asset "/vue.js"}}"></script>