<ul class="view-type nav nav-pills nav-justified" >
   <li role="presentation" class="active"><a href="#overview-tab" data-toggle="pill" role="tab">Overview</a></li>
   <li role="presentation"><a href="#system-info-tab" data-toggle="pill" role="tab">System Info</a></li>
</ul>
<div class="tab-content">
   <div id="overview-tab" role="tabpanel" class="tab-pane active">
      <div class="row">
         <div class="col-sm-6">
            <h2>Overview</h2>
         </div>
         <div class="col-sm-6 text-right">
            <div id="instance-actions" class="btn-group" style="margin-top: 15px;">
               <button type="button" style="background-color: #632CA6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Actions <span class="caret"></span>
               </button>
               <ul class="dropdown-menu">
                  <li>
                     <a href="{{appUrl}}/infrastructure?tags=host%3A{{name}}" target="_blank">Open Dashboard</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <hr>
      <div class="incident-stats">
         <div class="type-logo">
            <img src="{{asset "/datadog-logo.png"}}" alt="DataDog Logo" class="logo" style="max-height: 80px; max-width: 140px;">
         </div>
         <div class="stats-container big-stat-block">
            <span class="stat-content">{{name}}</span>
            <span class="stat-label">Name</span>
         </div>
         <div class="stats-container big-stat-block">
            {{#if status}}
            <div title="Healthy" class="status-icon icon-health status-icon-center  status-healthy"></div>
            <span class="stat-label">Status</span>
            {{else}}
            <div title="Unhealthy" class="status-icon icon-health status-icon-center  status-bad"></div>
            <span class="stat-label">Status</span>
            {{/if}}
         </div>
         <div class="stats-container big-stat-block">
            <span class="stat-content">{{muteStatus}}</span>
            <span class="stat-label">Mute Status</span>
         </div>
         <div class="stats-container big-stat-block">
            <span class="stat-content">{{checks}}</span>
            <span class="stat-label"># of Checks</span>
         </div>
         <div class="stats-container big-stat-block">
            <span class="stat-content">{{agentVersion}}</span>
            <span class="stat-label">Agent Version</span>
         </div>
      </div>
      <div class="header-meta-info">
         <p>Apps</p>
         <div class="item">
            {{#each apps}}
            <span class="badge badge-primary badge-pill">{{this}}</span>
            {{/each}}
         </div>
      </div>
      <h2>Agent Checks</h2>
      <table>
         <thead>
            <th>Check</th>
            <th>Status</th>
         </thead>
         <tbody>
            {{#each agentChecks}}
            <tr>
               <td>{{this.0}}</td>
               <td>{{this.3}}</td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
   <div id="system-info-tab" role="tabpanel" class="tab-pane">
      <div class="row">
         <div class="col-sm-6">
            <h2>System Information</h2>
         </div>
         <div class="col-sm-6 text-right">
            <div id="instance-actions" class="btn-group" style="margin-top: 15px;">
               <button type="button" style="background-color: #632CA6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Actions <span class="caret"></span>
               </button>
               <ul class="dropdown-menu">
                  <li>
                     <a href="{{appUrl}}/infrastructure?tags=host%3A{{name}}" target="_blank">Open Dashboard</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <hr>
      <div class="incident-stats">
         <div class="stats-container big-stat-block">
            <span class="stat-content">{{operatingSystem}}</span>
            <span class="stat-label">Operating System</span>
         </div>
         <div class="stats-container big-stat-block">
            <span class="stat-content">{{cpuCores}}</span>
            <span class="stat-label">CPU Cores</span>
         </div>
         <div class="stats-container big-stat-block">
            <span class="stat-content">{{logicalProcessors}}</span>
            <span class="stat-label">Logical Processors</span>
         </div>
         <div class="stats-container big-stat-block">
            <span class="stat-content">{{memory}}</span>
            <span class="stat-label">Memory</span>
         </div>
      </div>
      <div class="resource-detail zone-summary">
         <div class="summary-collapsible-row">
            <div collapsible="" class="detail-title summary-title-row collapsed">
               <div class="name-block">
                  <span class="name">Platform Details</span>
               </div>
            </div>
            <div class="summary-content-row">
               <div class="zone-summary-container">
                  <table class="table table-middle">
                     <thead></thead>
                     <tbody>
                        {{#each platformDetails}}
                        <tr>
                           <td>{{@key}}</td>
                           <td>{{this}}</td>
                        </tr>
                        {{/each}}		
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div class="resource-detail zone-summary">
         <div class="summary-collapsible-row">
            <div collapsible="" class="detail-title summary-title-row collapsed">
               <div class="name-block">
                  <span class="name">CPU Details</span>
               </div>
            </div>
            <div class="summary-content-row">
               <div class="zone-summary-container">
                  <table class="table table-middle">
                     <thead></thead>
                     <tbody>
                        {{#each cpuDetails}}
                        <tr>
                           <td>{{@key}}</td>
                           <td>{{this}}</td>
                        </tr>
                        {{/each}}	
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div class="resource-detail zone-summary">
         <div class="summary-collapsible-row">
            <div collapsible="" class="detail-title summary-title-row collapsed">
               <div class="name-block">
                  <span class="name">Memory Details</span>
               </div>
            </div>
            <div class="summary-content-row">
               <div class="zone-summary-container">
                  <table class="table table-middle">
                     <thead></thead>
                     <tbody>
                        {{#each memoryDetails}}
                        <tr>
                           <td>{{@key}}</td>
                           <td>{{this}}</td>
                        </tr>
                        {{/each}}	
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<style>
.badge {
	background-color: #632CA6;
}
.big-stat-block {
  margin-top: 15px;
  margin-bottom: 40px;
}

.resource-detail .type-logo .logo {
	margin-top: 0px;
}
.instance .incident-stats .status-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}

.instance .incident-stats {
  margin-bottom: 22px;
}
</style>